In [170]:
# Dependencies
import pandas as pd 
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, inspect
# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base
# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, Date,ForeignKey  
#
from sqlalchemy.orm import Session
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [171]:
# converting cvs files to pandas datafrmes
clean_measurements_data = pd.DataFrame.from_csv("Resources/clean_hawaii_measurements.csv")
clean_measurements_data = clean_measurements_data.reset_index()
clean_stations_data = pd.DataFrame.from_csv("Resources/clean_hawaii_stations.csv")
clean_stations_data = clean_stations_data.reset_index()

In [172]:
# Create Database Connection
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)
conn = engine.connect()

In [173]:
## Create Measurement and Station Classes

# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Create Classes by telling SQLAlchemy the name of column and its attributes:
class Measurement(Base):
    __tablename__ = 'measurement'
    station = Column(String(255), primary_key=True)
    date = Column(Date, primary_key=True)
    prcp = Column(Integer)    # prcp: precipitation
    tobs = Column(Integer)    # tobs: temperature observation

class Station(Base):
    __tablename__ = 'station'
    station = Column(String(255), primary_key=True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [174]:
# Create a "Metadata" Layer That Abstracts our SQL Database
Base.metadata.create_all(engine)

# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [175]:
# Populate the two tables from dataframes
clean_measurements_data.to_sql('measurement', con=engine, if_exists='append',index = False)
clean_stations_data.to_sql('station', con=engine, if_exists='append',index = False)